<header>
<div class="main-nav">
	<nav class="left-nav">
		<ul>
      <li data-controller="sections-sidebar"> 
        <div class="left-sidebar" id="sections-sidebar-btn" data-action="click->sections-sidebar#toggleSidebar">
          <i class="fa-solid fa-bars"></i>
          <span>sections</span>
        </div>
      </li>
			<li data-controller="modal">
        <div class="left-sidebar" id="search-modal-btn" data-action="click->modal#toggleModal">
          <i class="fa-solid fa-magnifying-glass"></i>
          <span>search</span>
        </div>
			</li>
		</ul>
	</nav>

  <nav class="right-nav">
    <ul>
      <li >
        <div>
          <button type="button">
              <span>Subscribe now</span>
          </button>
        </div>
      </li>
      <li >
        <div>
          <button type="button">
            <span>Login</span>
          </button>
          <i class="fa-solid fa-gear" style="margin-left: 10px;"></i>
        </div>
      </li>
    </ul>
  </nav>

</div>
</header>