<div class="sections">
    <ul>
        <li> 
            <button class="sess">world
            </button> 
        </li>
        <li> 
            <button class="sess">san fransisco
            </button> 
        </li>
        <li> 
            <button>new york</button>
        </li>
        <li> 
            <button>bootcamp prep
            </button>
             </li>
        <li>
        <button>a jump start</button> </li>
        <li> <button>online</button> </li>
        <li> <button>marketing</button> </li>
        <li> <button>sales</button> </li>
        <li> <button>talent match</button> </li>
        <li> <button>alumni</button> </li>
        <li> <a href="#">all</a> </li>        
    </ul>
</div>